table {
    width: 100%;
    height: 100%;
}
.head {
   background: greenyellow; 
   height: 150px;
}
.basement {
    height: 150px;
    background: olivedrab;
}
.menu {
width: 300px;
background: green;
}
.iframe {
    height: 100%;
}